@media screen and (min-width: 0) and (max-width: 768px) {
.son {
    height: 100px;
}
    img {
        width: 60px;
        height: 70px;
    }

    .daughter {
        flex-direction: column;

}
    .child {
        width: 99%;
        height: 475px;
    }

    .child2 {
        width: 99%;
        height: 100px;
    }

}